@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/DMSans.ttf') format('truetype');
}

* {
  font-family: 'DM Sans';
}
.content-div {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
#book-list > div:nth-child(even) {
  @apply justify-end;
}
